[[language]]
name = "bmake"
scope = "source.bmake"
file-types = ["bm", "bm.kts"]
comment-token = "//"
indent = { tab-width = 4, unit = "    " }
grammar = "bmake"

[[grammar]]
name = "bmake"
source = { path = "/absolute/path/to/tree-sitter-bmake" }